header{
    background-color: blue;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;

    .mycontain{
        color: red;
    }
h1{
    color:Tomato;
}

h3{
    color: tomato;
}
.searchForm{
    background-color: red;
}

}